#roadmap-editor-toolbar {
    display: block;
    width: 100%;
    line-height: 1;
    margin: 0;
    padding: 20px 40px 10px 20px;
    background-color: #ffffff;
    position: relative;
}

#roadmap-editor-toolbar .aui-toolbar2-primary {
    margin: 0 114px 0 10px;
}

#roadmap-editor-toolbar .aui-toolbar2-secondary {
    position: static;
}

#roadmap-editor-toolbar .aui-buttons {
    margin-bottom: 10px;
}

#roadmap-editor-toolbar .aui-icon {
    color: #707070;
    vertical-align: text-top;
}

/* Fix icon does not vertical aligned middle */
#roadmap-editor-toolbar .aui-icon::before {
    font-family: "Atlassian Icons";
}

#timeline-options-form .buttons-container {
    margin-top: 8px;
    padding: 4px 0 4px 115px
}

#timeline-display-options-select {
    max-width: 100px;
}

#timeline-startdate-input, #timeline-enddate-input {
    max-width:100px;
    padding-left: 10px;
}

#timeline-options-form .view-by,
#timeline-options-form .roadmap-toolbar-date {
    padding: 0;
    display: inline-block;
    width: auto;
}

#timeline-options-form  .roadmap-toolbar-date.start-date  {
   margin-right: 5px;
}

#timeline-options-form .roadmap-toolbar-date.end-date {
    margin-left: 5px;
}

#timeline-options-form .view-by > label {
    padding-top: 8px;
    margin-left: -140px;
}

#timeline-options-form .view-by {
    vertical-align: top;
    margin-right: 15px;
}

#timeline-options-form fieldset {
    margin-top: 10px;
}

#timeline-options-form .timeline-field-group-error {
    position: absolute;
    right: 0px;
    width: 410px;
}

#roadmap-timeline-error.error {
    height: 14px;
    text-align: right;
}